{% macro expiring(classes) %}<span class="far fa-clock text-warning {{ classes }}" title="User set to expire"></span>{% endmacro %}

{% macro expired(classes) %}<span class="far fa-clock text-danger {{ classes }}" title="User expired"></span>{% endmacro %}

{% macro leftCampus(classes) %}<span class="fa fa-graduation-cap text-warning {{ classes }}" title="User left UIUC"></span>{% endmacro %}

{% macro nonCampus(classes) %}<span class="fa fa-graduation-cap text-info {{ classes }}" title="User not from UIUC"></span>{% endmacro %}

{% macro crashplan(classes) %}<span class="far fa-hdd text-success {{ classes }}" title="User has Crashplan"></span>{% endmacro %}

{% macro biocluster(classes) %}<span class="fas fa-bold text-primary {{ classes }}" title="User has Biocluster access"></span>{% endmacro %}

{% macro server(classes) %}<span class="fas fa-server text-secondary {{ classes }}" title="User has server access"></span>{% endmacro %}

{% macro passwordExpired(classes) %}<span class="fa fa-key text-danger {{ classes }}" title="Password expired"></span>{% endmacro %}

{% macro passwordExpiring(classes) %}<span class="fa fa-key text-warning {{ classes }}" title="Password expiring soon"></span>{% endmacro %}

{% macro classroom(classes) %}<span class="fa fa-book text-info {{ classes }}" title="Classroom user"></span>{% endmacro %}

{% macro loggedInRecently(classes) %}<span class="fas fa-sign-in-alt text-success {{ classes }}" title="Logged in within past 30 days"></span>{% endmacro %}

{% macro neverLoggedIn(classes) %}<span class="fas fa-sign-in-alt text-danger {{ classes }}" title="Never logged in"></span>{% endmacro %}

{% macro locked(classes) %}<span class="fas fa-lock text-danger {{ classes }}" title="Account Locked"></span>{% endmacro %}

{% macro userIcons(user,classes) %}
	{% import _self as icon %}
	{% if user.expired %}{{ icon.expired(classes) }}
	{% elseif user.expiring %}{{ icon.expiring(classes) }}{% endif %}
	{% if user.leftCampus %}{{ icon.leftCampus(classes) }}{% endif %}
	{% if user.nonCampus %}{{ icon.nonCampus(classes) }}{% endif %}
	{% if user.crashplan %}{{ icon.crashplan(classes) }}{% endif %}
	{% if 'biocluster2.igb.illinois.edu' in user.hosts %}{{ icon.biocluster(classes) }}{% endif %}
	{% if user.hosts is not empty %}{{ icon.server(classes) }}{% endif %}
	{% if user.passwordExpired %}{{ icon.passwordExpired(classes) }}
	{% elseif user.passwordExpiration is not null and date(user.passwordExpiration) < date('30 days') %}{{ icon.passwordExpiring(classes) }}{% endif %}
	{% if user.classroom %}{{ icon.classroom(classes) }}{% endif %}
	{% if user.lastlogin is not null and date(user.lastLogin) >= date('-30 days') %}{{ icon.loggedInRecently(classes) }}{% endif %}
	{% if user.lastLogin is null %}{{ icon.neverLoggedIn(classes) }}{% endif %}
	{% if user.locked %}{{ icon.locked(classes) }}{% endif %}
{% endmacro %}

{% macro userExpirationIcons(user,classes) %}
	{% import _self as icon %}
	{% if user.expired %}{{ icon.expired(classes) }}
	{% elseif user.expiring %}{{ icon.expiring(classes) }}{% endif %}
{% endmacro %}

{% macro userPasswordExpirationIcons(user,classes) %}
	{% import _self as icon %}
	{% if user.passwordExpired %}{{ icon.passwordExpired(classes) }}
	{% elseif user.passwordExpiration is not null and date(user.passwordExpiration) < date('30 days') %}{{ icon.passwordExpiring(classes) }}{% endif %}
{% endmacro %}

{% macro userLastLoggedInIcons(user,classes) %}
	{% import _self as icon %}
	{% if user.lastlogin is not null and date(user.lastLogin) >= date('-30 days') %}{{ icon.loggedInRecently(classes) }}{% endif %}
	{% if user.lastLogin is null %}{{ icon.neverLoggedIn(classes) }}{% endif %}
{% endmacro %}

{% macro user(classes) %}<span class="fa fa-user {{ classes }}"></span>{% endmacro %}
{% macro group(classes) %}<span class="fa fa-users {{ classes }}"></span>{% endmacro %}
{% macro host(classes) %}<span class="fa fa-server {{ classes }}"></span>{% endmacro %}
{% macro domain(classes) %}<span class="fa fa-network-wired {{ classes }}"></span>{% endmacro %}
{% macro statistics(classes) %}<span class="fas fa-chart-bar {{ classes }}"></span>{% endmacro %}
{% macro folder(classes) %}<span class="fas fa-folder {{ classes }}"></span>{% endmacro %}