{% extends 'base.html.twig' %}

{% block content %}
	<div class="content">
		<table class="table table-striped table-sm table-bordered table-responsive-md mb-0">
			<tr>
				<th>Time</th>
				<th>User</th>
				<th>Message</th>
			</tr>
			{% for log in logs %}
				<tr>
					<td class="shrink">{{ log.logtime|date("n/j/y g:ia") }}</td>
					<td>{% if log.creator is null %}script{% else %}
							<a href="user.php?uid={{ log.creator }}">{{ log.creator }}</a>{% endif %}</td>
					<td>{{ log.message }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
{% endblock %}