{% extends 'edit.html.twig' %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="list_hosts.php">Hosts</a></li>
	<li class="breadcrumb-item"><a href="host.php?hid={{ host.name }}">{{ host.name }}</a></li>
	<li class="breadcrumb-item active">{{ header }}</li>
{% endblock %}

{% block immutable %}
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Host</label>
		<div class="col-sm-9">
			<label class="col-form-label">{{ host.name }}</label>
			<input type="hidden" name="hid" value="{{ host.name }}"/>
		</div>
	</div>
{% endblock %}

{% block cancelURL %}host.php?{{ {'hid': host.name}|url_encode }}{% endblock %}