{% extends 'view_log.html.twig' %}

{% block title %}{{ parent() }} - User Logs: {{ user.username }}{% endblock %}

{% block jumbotron %}
	{{ user.name }} - Logs
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="list_users.php">Users</a></li>
			<li class="breadcrumb-item"><a href="user.php?uid={{ user.username }}">{{ user.username }}</a></li>
			<li class="breadcrumb-item active">Log</li>
		</ol>
	</nav>
{% endblock %}
